{
  "env": {
    "browser": true,
    "jest": true
  },
  "plugins": ["prettier"],
  "extends": ["airbnb", "airbnb/hooks", "plugin:prettier/recommended"],
  "rules": {
    "prettier/prettier": "error",
    "import/no-extraneous-dependencies": [
      "error",
      {
        "devDependencies": [
          ".storybook/**",
          "**/*.stories.js[x]",
          "**/*.test.js[x]",
          "src/setupTests.js"
        ]
      }
    ]
  }
} 