@import '../../../common/variables';

.button {
  transition: box-shadow .2s ease-in;

  &:hover {
    cursor: pointer;
  }

  &:hover, &:active, &:focus {
    filter: brightness(110%);
  }

  &:focus {
    outline: none;
    box-shadow: 1px 1px 10px $color-app-tint;
  }
}