@import '../../../common/variables';

.counter-list {
  &__status {
    display: flex;
    letter-spacing: 0.02em;
    padding-left: 24px;

    &__items {
      font-weight: 600;
      margin-right: 8px;
    }

    &__times {
      color: $color-text-input-placeholder;
      margin-right: 8px;
    }

    &__selected {
      font-weight: 600;
      margin-right: 8px;
      color: $color-app-tint;
    }
  }

  &__counters {
    padding-left: 10px
  }
}