// Colors
$color-app-tint: #FF9500;
$color-destructive-red: #FF3B30;
$color-main: #C4C4C4;
$color-background: #F9F9F9;
$color-input-disabled: #C4C4C4;
$color-text-input-placeholder: #888B90;
$color-button-cancel: #4A4A4A;

// Icons
$counters-font-family: "counters" !default;

$icon-refresh: "\e900";
$icon-minus: "\2d";
$icon-garbage: "\2a";
$icon-glass: "\67";
$icon-plus: "\2b";
$icon-share: "\2f";